<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:property-placeholder location="app.properties"/>

    <bean name="customerRepository"
          class="no.skildheim.repository.HibernateCustomerRepositoryImpl">

        <!--Example without annotation inside code -->
        <!--<property name="dbUsername" value="${dbUsername}"/> -->
    </bean>

    <!-- Setter injection -->
    <!-- <bean name="customerService"
          class="no.skildheim.service.CustomerServiceImpl">
        <property name="customerRepository" ref="customerRepository"></property>
    </bean>
    -->

    <!-- Constructor injection -->
    <!-- <bean name="customerService"
          class="no.skildheim.service.CustomerServiceImpl">
        <constructor-arg index="0" ref="customerRepository"></constructor-arg>
    </bean> -->

    <!--Autowire by constructor-->
    <!--<bean name="customerService"-->
            <!--class="no.skildheim.service.CustomerServiceImpl" autowire="constructor">-->
    <!--</bean>-->

    <!--Autowire by type-->
    <bean name="customerService"
          class="no.skildheim.service.CustomerServiceImpl"
          autowire="byType"
           scope="singleton">
    </bean>

    <!--Autowire by name-->
    <!--<bean name="foo"-->
          <!--class="no.skildheim.repository.HibernateCustomerRepositoryImpl">-->
    <!--</bean>-->
    <!--<bean name="customerService"-->
          <!--class="no.skildheim.service.CustomerServiceImpl" autowire="byName">-->
    <!--</bean>-->

</beans>